/* NEW: container + fancy heading like Projects/About */
.items-container {
    padding: 5% 10%;
    text-align: left;
}

.items-container .section-heading {
    font-size: 3rem;
    font-weight: 800;
    color: #ffffff;
    margin-bottom: 1.5rem;
    position: relative;
    display: inline-block;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -8px;
        width: 70px;
        height: 3px;
        border-radius: 999px;
        background: linear-gradient(90deg, #a855f7, #6366f1, transparent);
    }
}

/* Existing styles */
.vertical-timeline span {
    color: white;
    font-family: 'Courier Prime', monospace;
}

.vertical-timeline p {
    color: rgb(39, 40, 34);
}

.vertical-timeline-element p {
    color: rgb(39, 40, 34);
}

.vertical-timeline-element h3 {
    color: rgb(39, 40, 34);
}

.vertical-timeline-element h4 {
    color: rgb(39, 40, 34);
}

.vertical-timeline-element span {
    color: rgb(39, 40, 34);
}

.vertical-timeline-element .vertical-timeline-element-date {
    color: white;
}

.svg-inline--fa {
    color: white;
}

@media screen and (max-width: 1170px) {
    .vertical-timeline-element .vertical-timeline-element-date {
        color: rgb(39, 40, 34);
    }
}
